.navcontainer {
  background-color: #fff;
  position: fixed;
  width: 200px;
  height: 100%;
  box-shadow: 3px 0px 6px 0px rgb(246, 246, 246, 0.75);
}
.wrapper {
  padding: 10px;
  z-index: 1;
}
.logo {
  padding: 10px;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.wrapper > ul {
  margin-top: 20px;
  padding-left: 10px;
  text-align: left;
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}
.wrapper > ul > li {
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.6;
}
.wrapper > ul > li > a:hover {
  color: darkgoldenrod;
  font-size: 22px;
  transition: 0.2s;
}

@media only screen and (max-width: 768px) {
  .navcontainer {
    width: 70px;
  }
  .logo > h2 {
    opacity: 0;
  }
  .logo {
    background: url("../public/vercel.svg");
    width: 60px;
    height: 40px;
    padding: 5px;
    margin: 2px;
  }
  .wrapper > ul {
    gap: 5px;
  }
  .wrapper > ul > li > a {
    opacity: 0;
  }
}

/* header section css */
.headcontainer {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  background: rgb(255, 255, 255);
}

.headwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  margin-left: 40px;
}
.title > h2 {
  color: black;
}
.title > p {
  color: black;
}
.profile {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .headcontainer {
    width: 90%;
    margin-left: 70px;
  }
  .profile {
    margin-right: 5px;
  }
}

.contentcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.contentwrapper {
  display: flex;
  gap: 40px;
  padding: 20px;
  margin-left: 20px;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 3px 0px 6px 0px rgb(246, 246, 246, 0.5);
}

@media only screen and (max-width: 768px) {
  .contentcontainer {
    margin-left: 70px;
  }
  .contentwrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .tabs {
    width: 350px;
  }
}

/* .charts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  margin-left: 10px;
}
.circle {
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bar > h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .circle > h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .bar {
    margin-top: 60px;
    margin-left: 10px;
    width: 300px;
    height: 300px;
  }
  .circle {
    margin-top: 60px;
    margin-left: 10px;
    width: 300px;
    height: 300px;
  }
} */

.charts{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 40px;
  gap: 40px;
}
.bar{
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 20px 0px 10px 5px rgb(246, 246, 246, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .charts {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bar > h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 350px;
    height: 100px;
    margin-left: 10px;
  }
} 